# Dependency directories
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log

# Builds
.astro
dist

# Cloudflare
.wrangler
worker-configuration.d.ts

# Typescript
*.tsbuildinfo

# Turborepo
.turbo

# Tooling
.vscode
.eslintcache
.rollup.cache
*.tsbuildinfo

# Misc
.DS_Store
*.pem
