# Dependency directories
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log

# Builds
dist
.astro
.next
out
build
.cache

# Verce
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Personal
ideas.md

# Tooling
.vscode
.eslintcache
.rollup.cache
*.tsbuildinfo

# Misc
.DS_Store
*.pem
