*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 16px;
  min-height: 100vh;
}

h1 {
  margin-bottom: 16px;
}

p {
  margin: 8px 0;
}

body, .theme {
  color: var(--color-text);
  background-color: var(--color-background);
}

:is(:root, .theme)[data-color-scheme="light"][data-contrast="standard"] {
  --color-background: #fff;
  --color-text: #555;

  color-scheme: light;
}

:is(:root, .theme)[data-color-scheme="light"][data-contrast="high"] {
  --color-background: #fff;
  --color-text: #222;

  color-scheme: light;
}

:is(:root, .theme)[data-color-scheme="dark"][data-contrast="standard"] {
  --color-background: #000;
  --color-text: #aaa;

  color-scheme: dark;
}

:is(:root, .theme)[data-color-scheme="dark"][data-contrast="high"] {
  --color-background: #000;
  --color-text: #ddd;

  color-scheme: dark;
}

:is(:root, .theme)[data-color-scheme="system"][data-contrast="standard"] {
  --color-background: #fff;
  --color-text: #555;
  
  color-scheme: light;
}

:is(:root, .theme)[data-color-scheme="system"][data-contrast="high"] {
  --color-background: #fff;
  --color-text: #222;

  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :is(:root, .theme)[data-color-scheme="system"][data-contrast="standard"] {
    --color-background: #000;
    --color-text: #aaa;

    color-scheme: dark;
  }
  
  :is(:root, .theme)[data-color-scheme="system"][data-contrast="high"] {
    --color-background: #000;
    --color-text: #ddd;

    color-scheme: dark;
  }
}
