*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
}

body > div {
  flex: 1 1 0%;
}


h1 {
  margin-bottom: 16px;
}

p {
  margin: 8px 0;
}

.theme, :root[data-color-scheme][data-contrast] main {
  color: var(--color-text);
  background-color: var(--color-background);
  
  padding: 16px;
  border: 2px solid #999;
  width: fit-content;
}

:is(:root, .theme)[data-color-scheme="light"] {
  color-scheme: light;
}

:is(:root, .theme)[data-color-scheme="dark"] {
  color-scheme: dark;
}

:is(:root, .theme)[data-color-scheme="light"][data-contrast="standard"] {
  --color-background: #fff;
  --color-text: #555;
}

:is(:root, .theme)[data-color-scheme="light"][data-contrast="high"] {
  --color-background: #fff;
  --color-text: #222;
}

:is(:root, .theme)[data-color-scheme="dark"][data-contrast="standard"] {
  --color-background: #000;
  --color-text: #aaa;
}

:is(:root, .theme)[data-color-scheme="dark"][data-contrast="high"] {
  --color-background: #000;
  --color-text: #ddd;
}


#__next {
  display: contents;
}

body > #__next > div {
  flex: 1 1 0%;
}

body > astro-island > div {
  flex: 1 1 0%;
}
